<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="!allCourses">
        <ion-card-content>
            <ion-card-header>No courses! Try later {{allCourses}}</ion-card-header>
        </ion-card-content>
    </ion-card>
  <ion-card *ngIf="allCourses">
      <ion-card-content>
          <ion-card-title>Select an available course to see more details: </ion-card-title>
      </ion-card-content>
  </ion-card>

    <ion-list *ngFor="let courses of allCourses" (click)="courseTapped(courses)">
        <ion-item >
            <ion-thumbnail slot="start">
                <img src="{{ courses.image }}">
            </ion-thumbnail>
            <ion-label>{{ courses.name }}</ion-label>
            <ion-text>course id: {{courses.id}}</ion-text>
        </ion-item>
    </ion-list>

</ion-content>
