<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedCourse.course.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <h2>Course Info:</h2>
          <!--            <p> current course: {{courses.name}}</p>-->
          <ion-list>
            <ion-item *ngFor="let course of course" (click)="goToGameSetup()">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <img src="{{course.image}}">
                  </ion-col>
                  <ion-col>
                    <p>{{ course.name }}</p>
                    <p>{{ course.id }}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
