<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedCourse.course.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="course-home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Course Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tee-types">
        <ion-icon name="podium"></ion-icon>
        <ion-label>Tee Types</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
